.form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f5f6fa;
  padding: 0 4%;
  width: 100%;
  max-width: none;
}

.form__paper {
  width: 50%;
  @include padding-y-lg;
  @include padding-x-lg;

  @include mq($until: md) {
    width: 100%;
  }
}

.form__submit {
  @include padding-t-xs;
}
