.form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 172px);
  background-color: #f5f6fa;
  padding: 0 4%;
  width: 100%;
  max-width: none;
  @include mq($until: sm) {
    min-height: auto;
    @include padding-y-md;
  }
}

.form__title {
  h1 {
    font-weight: 400;
  }
}

.form__description {
  h4 {
    font-weight: 400;
  }
}

.form__paper {
  width: 50%;
  @include padding-y-lg;
  @include padding-x-lg;

  @include mq($until: md) {
    width: 100%;
  }
}

.form__submit {
  @include padding-t-xs;
}
